@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

/* General rules */

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.section, header, footer {
    display: flex;
    justify-content: center;
}

.section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header, footer, .intro {
    background-color: #1F2937;
}

.intro button, .sign-up button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
}

h1, h2, h3 {
    color: #f9faf8;
    margin-top: 0;
}

button {
    width: 130px;
    padding: 7px 20px;
    font-weight: bold;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

/* Header */

header {
    color: #E5E7EB;
    height: 64px;
    padding: 0 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

header a {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo-name {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.logo {
    height: 24px;
    width: 24px;
}

/* Intro */

.intro {
    font-size: 18px;
    color: #E5E7EB;
    height: 480px;
}

.intro .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.intro h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
}

.intro-text {
    width: 460px;
    display: flex;
    flex-direction: column;
}

.intro-text span {
    margin-bottom: 20px;
}

.intro-text button {
    border-style: none; 
}

.intro-img {
    height: 240px;
    width: auto;
    border-radius: 5%;
}

/* Info */

.info {
    height: 500px;
}

.info-cards {
    display: flex;
    gap: 20px;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 160px;
}

.info-card span {
    text-align: center;
}

.info-img {
    width: 160px;
    height: 160px;
    border-radius: 10%;
    border-color: #3882F6;
    border-style: solid;
}

.info h2 {
    color: #1F2937;
    font-size: 36px;
}

/* Quote */

.quote {
    background-color: #E5E7EB;
    height: 430px;
}

q {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote p {
    width: 100%;
    font-weight: bold;
    text-align: right;
    padding-right: 200px;
}

/* Call to action */

.call-to-action {
    height: 360px;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    background-color: #3882F6;
    width: 100%;
    border-radius: 10px;
}

.sign-up-text span {
    color: #E5E7EB;
}

.sign-up button {
    border-color: #f9faf8;
    border-style: solid;
}

/* Footer */

footer {
    height: 100px;
    color: #E5E7EB;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}